/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  color: #444;
}

ul {
  list-style-type: none;
  padding: 0;
}

button {
  cursor: pointer;
}

input:focus {
  outline: none;
  border-color: #28a745;
}

a {
  text-decoration: none;
  color: inherit;
}
